* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
    font-family: "Instrument Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}


/*heaeder css */

.headerWrapper {
    display: flex;
    flex-direction: row;
    padding-top: 1vh;
    justify-content: space-between;
}

.headerImg {
    width: auto;
    height: 4vh;
    margin-left: 2vw;
}

.headerList {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
}

.headerList>li {
    margin-right: 50px;
}

.headerButton {
    color: #0A6DE0;
    background-color: white;
    border: 1px solid #0A6DE0;
    border-radius: 20px;
    padding: 4px;
    width: auto;
    height: 3vh;
    margin-right: 2vw;
}

.logoText {
    color: #0A6DE0;
    font-size: 22px;
    left: 0;
}


/*footer*/

footer {
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    background-color: #0A6DE0;
    margin-bottom: 2%;
    border-radius: 30px;
    color: #FFFFFF;
}

.footerTextWr {
    width: 95%;
    height: 8vh;
    margin: 3%;
    display: flex;
    flex-direction: row;
    padding-top: 4vh;
    justify-content: space-between;
}

.footerTextWr2 {
    width: 95%;
    height: 20vh;
    margin: 3%;
    display: flex;
    flex-direction: row;
    padding-top: 4vh;
}

.footerText1Wr {
    width: 30%;
}

.footerText1 {
    font-weight: 700;
    font-size: 22px;
}

.footerText {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 3%;
}

.fLine3Div {
    width: auto;
}

.footerList {
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.footerList>li {
    margin-bottom: 1vh;
}

.footerList>li>a {
    color: #FFFFFF;
}


/*1st screen css*/

.wrapper1Screen {
    display: flex;
    flex-direction: column;
}

.wrapper1Screen>div {
    display: flex;
    flex-direction: row;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.largeText {
    font-weight: 700;
    font-size: 135px;
    color: #444444;
}

.consultHeadButton {
    background-color: #0A6DE0;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px;
    width: 15%;
    height: 9%;
    font-size: small;
    margin-top: 3%;
}

.anotherText {
    font-size: 16px;
    width: 10%;
    text-align: left;
    margin-top: 2%;
}

.image1 {
    width: 90%;
    margin: 5%;
    height: auto;
}


/*2nd screen code*/

.wrapper2Screen {
    display: flex;
    flex-direction: row;
    margin: 5%;
}

.wrapper2Screen1div {
    width: 65%;
    margin: 2%;
}

.innerDiv1 {
    width: 85%;
    background-color: #F6F6F6;
    color: #444444;
    border-radius: 15px;
    padding: 5%;
    margin: 2%;
}

.innerDiv2 {
    width: 35%;
    background-color: #F6F6F6;
    color: #444444;
    border-radius: 15px;
    padding: 5%;
    height: 13vh;
    margin: 2%;
}

#innerDiv3 {
    width: 35%;
    background-color: #F6F6F6;
    color: #444444;
    border-radius: 15px;
    padding: 5%;
    height: 20vh;
    margin: 2%;
    float: right;
    top: 0;
}

.consultS2Button {
    background-color: #0A6DE0;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px;
    width: 24%;
    height: 6%;
    font-size: small;
    margin-top: 3%;
    position: absolute;
    margin-top: 2vh;
    margin-left: 2vh;
}

.img2Div>img {
    height: 100vh;
}

.secondScreenP {
    font-weight: 700;
    font-size: 77px;
    color: #444444;
}


/*3rd screen css*/

.textDivScreen3 {
    margin: 0 auto;
    width: 30%;
    font-size: 37px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
}


/*last screen*/

.lastScreenWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15vh;
    color: #444444;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.inputI {
    border-radius: 100px;
    height: 7vh;
    width: 20vw;
    border: 1px solid #444444;
    margin: 0.5%;
    text-align: center;
}

.inputI::placeholder {
    margin: 2px;
}

iframe {
    border-radius: 30px;
}

.container {
    width: 50%;
    text-align: left;
}

.main-text {
    font-size: 48px;
    font-weight: 700;
}

.main-text span {
    color: #0A6DE0;
}

.subtext {
    font-size: 18px;
    color: #444444;
}