* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: white;
    color: black;
    font-family: "Instrument Sans", sans-serif;
    overflow-x: hidden;
    width: 1444px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #444444;
}

a :hover {
    color: #F6F6F6;
}


/*heaeder css */

.headerWrapper {
    display: flex;
    flex-direction: row;
    padding-top: 1vh;
    justify-content: space-between;
}

#headerButton {
    color: #0A6DE0;
    background-color: transparent;
    border: 1px solid #0A6DE0;
    border-radius: 20px;
    padding: 4px;
    width: 173px;
    height: 34px;
    margin-right: 2.5vw;
    margin-top: 15px;
}

#headerButton a {
    color: #0A6DE0;
    font-size: 17px;
    font-weight: 400;
}

.headerImg {
    width: auto;
    height: 4vh;
    margin-left: 20px;
}

.headerList {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 500px;
    font-weight: 600;
}

.headerList>li {
    margin-right: 30px;
}

.gradientBtn {
    background: radial-gradient(circle closest-side, #7b9fd3, #FFFFFF);
    z-index: -1;
    position: fixed;
    margin-left: 800px;
    top: -13%;
    width: 40%;
    height: 40%;
    overflow: hidden;
}

.logoText {
    color: #0A6DE0;
    font-size: 20px;
    left: 0;
}


/*footer*/

.footerDef {
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: #0A6DE0;
    margin-bottom: 2%;
    border-radius: 30px;
    color: #FFFFFF;
}

.footerTextWr {
    width: 95%;
    height: 8vh;
    margin: 3%;
    display: flex;
    flex-direction: row;
    padding-top: 4vh;
    justify-content: space-between;
}

.footerTextWr2 {
    width: 95%;
    height: 20vh;
    margin: 1%;
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
}

.footerText1Wr {
    width: 30%;
}

.footerText1 {
    font-weight: 700;
    font-size: 22px;
}

.footerText {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 3%;
}

.fLine3Div {
    width: auto;
}

.footerList {
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.footerList>li {
    margin-bottom: 1vh;
}

.footerList>li>a {
    color: #FFFFFF;
}


/*1st screen css*/

.largeText {
    font-weight: 700;
    font-size: 125px;
    color: #444444;
    left: 0;
}

.consultHeadButton {
    background-color: #0A6DE0;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 15px;
    width: 375px;
    height: 63px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 3%;
}

.anotherText {
    font-size: 13px;
    font-weight: 500;
    width: 30%;
    height: 100%;
    text-align: left;
    margin-top: 2%;
    margin-left: 7%;
}

#last {
    margin-left: 14.5%;
    font-size: 115px;
}

.image1 {
    width: 95%;
    margin-left: 2.5%;
    height: auto;
}

.wrapper1Screen {
    display: flex;
    flex-direction: column;
}

.wrapper1Screen>div {
    display: flex;
    flex-direction: row;
    text-align: center;
    display: flex;
    width: 95%;
    margin: 0 auto;
}


/*2nd screen code*/

.innerDiv1 {
    width: 724px;
    height: 251px;
    background-color: #F6F6F6;
    color: #444444;
    border-radius: 15px;
    padding: 5%;
    margin: 2% 2% 2% 0;
}

.innerDiv2 {
    width: 390px;
    background-color: #F6F6F6;
    color: #444444;
    border-radius: 15px;
    padding: 5%;
    height: 180px;
    margin: 2% 2% 2% 0;
}

#innerDiv3 {
    width: 390px;
    background-color: #F6F6F6;
    color: #444444;
    border-radius: 15px;
    padding: 5%;
    height: 265px;
    margin: 2% 2% 2% 2%;
    float: right;
    top: 0;
}

.consultS2Button {
    background-color: #0A6DE0;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px;
    width: 380px;
    height: 60px;
    font-size: small;
    position: absolute;
    margin-top: -80px;
}

.img2Div>img {
    margin-top: 3%;
    height: 800px;
    width: 527px;
    margin-left: 6%;
}

.secondScreenP {
    font-weight: 700;
    font-size: 77px;
    color: #444444;
}

.wrapper2Screen {
    display: flex;
    flex-direction: row;
    margin: 2.5%;
    margin-top: 15%;
    text-align: left;
}

.wrapper2Screen1div {
    width: 800px;
}


/*3rd screen css*/

.textDivScreen3 {
    margin: 0 auto;
    width: 37%;
    font-size: 65px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    color: #444444;
}

.cardS3 {
    position: relative;
    padding: 20px;
    background: #F6F6F6;
    border-radius: 10px;
    width: 320px;
    padding: 2%;
    text-align: left;
    margin-right: 2vh;
    margin-top: 1vh;
}

.cardS3>ul>li {
    color: #444444;
}

.cardsGridWrapper {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
}

.wrapper3Screen {
    margin-top: 10%;
}

.allCardsWr {
    background-color: rgba(0, 0, 0, 0.2);
    background: radial-gradient(circle closest-side, #7b9fd3, #FFFFFF);
}

.textDivScreen3>p>span {
    color: #0A6DE0;
}

#cardS3Left {
    justify-self: flex-end;
    margin-left: 25%;
}

#cardS3LeftL {
    justify-self: flex-end;
}

.cardS3 ul {
    margin-left: 7%;
    margin-top: 5%;
}

.cardS3 h3 {
    margin-top: -5%;
    text-transform: uppercase;
}

.priceCardTxt {
    font-size: medium;
    font-weight: 600;
    margin-top: 10%;
}

.star {
    position: absolute;
    color: blue;
}

.star>img {
    height: 35px;
}

.star.top-right {
    top: -1.5vh;
    right: -1vw;
}


/*fifth screen*/

.fifthScreenWrapper {
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
    margin-top: 150px;
}

.fifthScreenText p {
    font-weight: 700;
    font-size: 50px;
    color: #444444;
}

.fifthScreenText span {
    color: #0A6DE0;
}

.fifthScreenText {
    width: auto;
    margin: 0 auto;
}

.fifthScreenTextWr {
    display: flex;
    flex-direction: row;
}

.shareYourExp {
    border: 2px solid #0A6DE0;
    background-color: #FFFFFF;
    color: #0A6DE0;
    border-radius: 100px;
    font-weight: 500;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 375px;
    height: 63px;
    padding: 0.5%;
    position: absolute;
    margin-top: 630px;
    margin-left: 485px;
}

.gradientWrapper3 {
    background: radial-gradient(circle closest-side, #7b9fd3, #FFFFFF);
    z-index: -1;
    position: absolute;
    margin-left: 800px;
    width: 60%;
    height: 60%;
    overflow: hidden;
    margin-top: 370px;
}

.gradientWrapper2 {
    overflow: hidden;
    background: radial-gradient(circle closest-side, #7b9fd3, #FFFFFF);
    z-index: -1;
    position: absolute;
    width: 70%;
    height: 70%;
    margin-top: 25%;
    margin-left: -30%;
}


/*last screen*/

.lastScreenWrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15vh;
    color: #444444;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 0;
}

.allTextNformLastScreen {
    width: 70%;
}

.inputI {
    border-radius: 100px;
    height: 50px;
    width: 490px;
    border: 1px solid #444444;
    margin: 0.5%;
    margin-top: 1.5%;
    text-align: left;
    padding-left: 2%;
}

.inputI::placeholder {
    margin: 2px;
    font-weight: 500;
}

iframe {
    border-radius: 30px;
}

.container {
    width: 60%;
    text-align: left;
}

.main-text {
    font-size: 57px;
    font-weight: 700;
}

.main-text span {
    color: #0A6DE0;
}

.subtext {
    font-size: 15px;
    color: #444444;
    margin-top: 1.2%;
}

.consultLastScreenBtn {
    background-color: #0A6DE0;
    color: white;
    border: none;
    padding: 15px;
    height: 53px;
    width: 375px;
    font-size: small;
    font-weight: 700;
    font-size: 17px;
    margin-top: 3%;
    margin-left: -2%;
    border-radius: 100px;
    margin: 0.5%;
    margin-top: 2%;
}


/*scroll bar 1 css*/

.screenFourWrapper {
    width: 95%;
    margin: 0 auto;
    margin-top: 10%;
}

.textDivScrren4 {
    width: auto;
}

.textDivScrren4>p {
    font-weight: 700;
    font-size: 55px;
    color: #444444;
}

.lowerTextScreen4 {
    color: #444444;
    text-align: right;
    float: right;
    margin-right: 40px;
}

.scrollImg {
    height: 90%;
    width: 90%;
}

#container {
    height: 75vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

#slider-container {
    height: 70vh;
    width: 107%;
    margin-left: -35px;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.scrool1Btns {
    width: 10%;
    position: relative;
    margin-top: -35px;
    float: right !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: '' !important;
}

.scrool1Btns {
    width: 10%;
    position: absolute;
    margin-left: 1144px;
    z-index: 9;
}

.swiperButton {
    width: 50px;
    user-select: none;
    cursor: pointer;
    margin-left: 5px;
}

.scrool1Btns .btn>img {
    width: 50px;
    user-select: none;
    cursor: pointer;
    margin-left: 5px;
}

.scrool1Btnss {
    width: 200px;
    position: absolute;
    margin-left: 1075px;
    margin-top: 70px;
    z-index: 9;
}

.scrool1Btnss img {
    width: 50px;
    user-select: none;
    cursor: pointer;
    margin-left: 5px;
    margin-left: 40px;
}

i {
    color: black;
    font-size: 30px;
    font-weight: 200;
}

#selectedSlider {
    height: 100%;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px black;
}

.unSelectedSlider {}

#slider-container #slider {
    display: flex;
    width: 1000%;
    height: 500px;
    transition: all .5s;
    z-index: 10;
}

.slide {
    height: 380px;
    border-radius: 15px;
    margin: auto 40px;
    background-color: #F6F6F6;
    box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
    display: grid;
    place-items: center;
}

#slider-container #slider .slide :hover {
    /*made text visible*/
}

@media only screen and (min-width: 1100px) {
    #slider-container #slider .slide {
        width: calc(2.5% - 20px);
    }
}

@media only screen and (max-width: 1100px) {
    #slider-container #slider .slide {
        width: calc(3.3333333% - 20px);
    }
}

@media only screen and (max-width: 900px) {
    #slider-container #slider .slide {
        width: calc(5% - 20px);
    }
}

@media only screen and (max-width: 550px) {
    #slider-container #slider .slide {
        width: calc(10% - 20px);
    }
}


/*hide add review div*/

.addReviews {
    position: absolute;
    margin-left: 25%;
    width: 677px;
    height: 677px;
    z-index: 9;
    border-radius: 30px;
    border: 3px solid #0A6DE0;
    background-color: #FFFFFF;
}

.addReviewInp1 {
    width: 557px;
    height: 80px;
}

.addReviewInp2 {
    width: 557px;
    height: 141px;
    border-radius: 40px !important;
}

.addReviewInp {
    border-radius: 100px;
    border: 1px solid #444444;
    margin-left: 59px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
}

.addReviewInp1::placeholder {
    padding-left: 27px;
}

.addReviewInp2::placeholder {
    padding-left: 27px;
}

.addReviewTxt {
    width: auto;
    margin-left: 59px;
    margin-top: 30px;
}

#hideARR {
    width: 375px;
    height: 63px;
    border-radius: 100px;
    color: #FFFFFF;
    background-color: #0A6DE0;
    border: none;
    margin-left: 59px;
    margin-top: 35px;
    font-weight: 700;
    font-size: 17px;
}


/*5th screen slider*/

.reviewImg {
    height: 146px;
    width: 146px;
    top: -35%;
    left: -31%;
    position: relative;
}

.starRight {
    position: relative;
    font-size: 20px;
    color: blue;
    top: -230%;
    right: -50%;
}

.textSlider2 {
    margin-top: 0px;
    height: 250%;
    width: 90%;
}


/*slider 4 css*/

.swiper-wrapper {
    height: 550px !important;
    width: 100% !important;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    overflow-x: hidden;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: opacity 0.2s ease, transform 0.2s ease;
    background-color: #F6F6F6;
    border-radius: 15px;
}

.swiper-slide-active {
    opacity: 1;
    transition: height 0.6s ease-in-out;
    transform: scale(1.1);
    position: absolute;
    margin-bottom: 10vh;
}

.doctor-card {
    text-align: center;
}

.doctor-card img {
    width: 90%;
}

.doctor-card h3 {
    font-weight: 500;
    font-size: 28px;
    margin: 5px 0;
    margin-top: 30px;
}

.doctor-card p {
    font-weight: 400;
    font-size: 17px;
    color: gray;
}

.swiper-button-prev,
.swiper-button-next {
    color: black;
    font-size: 1.5rem;
}

.custom-icon-left::before {
    content: '←';
    /* Replace with an icon or image */
}

.custom-icon-right::before {
    content: '→';
}


/* Hide text for non-active slides */

.swiper-slide .doctor-card h3,
.swiper-slide .doctor-card p {
    opacity: 0;
    transition: opacity 0.3s ease;
    /* Smooth appearance when becoming active */
}


/* Show text only for the active slide */

.swiper-slide-active .doctor-card h3,
.swiper-slide-active .doctor-card p {
    opacity: 1;
}


/* Apply grayscale filter to all images */

.swiper-slide img {
    filter: grayscale(100%);
    /* Make the image black and white */
    transition: filter 0.3s ease;
    /* Smooth transition effect */
    position: absolute;
    bottom: 0;
    left: 0;
}


/* Remove grayscale filter for the active slide */

.swiper-slide-active img {
    filter: grayscale(0%);
    /* Show the image in full color */
}

.burgerMenu {
    display: none;
}


/*phone css*/

@media only screen and (max-width: 768px) {
    .burgerMenu {
        display: none;
    }
    body {
        width: 375px;
        margin: 0 auto;
        border: 2px solid black;
    }
    .burgerMenu {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 5%;
        color: #0A6DE0;
    }
    #headerButton {
        display: none;
    }
    .headerImg {
        content: url("imgs/headerLogoPhone.png");
    }
    .headerList {
        display: none;
    }
    .headerListMobile {
        position: absolute;
        background-color: #F6F6F6;
        list-style: none;
        border-radius: 5%;
        font-size: 15px;
        height: 300px;
        width: 150px;
        text-align: center;
        right: 20px;
        top: 60px;
        border: 1px solid #0A6DE0;
    }
    .headerListMobile>li {
        margin-top: 30px;
    }
    .headerListMobile>li :hover {
        font-size: 20px;
    }
    /*screen1*/
    .imgBurger {
        height: 20px;
        width: 33px;
    }
    .wrapper1Screen {
        display: none !important;
    }
    .wrapper1ScreenMobile {
        display: block !important;
        width: 95%;
    }
    .image1 {
        display: none !important;
    }
    .largeTextM {
        font-weight: 700;
        font-size: 62px;
        margin-left: 7px;
        margin-top: -15px;
        color: #444444;
    }
    .anotherTextM {
        font-weight: 500;
        font-size: 14px;
        color: #444444;
        margin-left: 7px;
    }
    .consultHeadButtonM {
        background-color: #0A6DE0;
        color: white;
        border: none;
        border-radius: 100px;
        padding: 15px;
        width: 365px;
        height: 45px;
        font-size: 17px;
        font-weight: 500;
        margin-left: 5px;
        margin-top: 15px;
    }
    .image1M {
        height: 367px;
        width: 365px;
        margin-left: 5px;
        margin-top: 10px;
    }
    /*screen 2 */
    .wrapper2Screen {
        display: none !important;
    }
    .wrapperScreen2M {
        display: block !important;
        margin-top: 150px;
    }
    .secondScreenPM {
        font-weight: 700;
        font-size: 40px;
        color: #444444;
        width: auto;
        margin-left: 117px !important;
    }
    .innerDiv1M {
        width: 325px;
        margin-left: 5px;
        height: 158px;
        background-color: #F6F6F6;
        color: #444444;
        border-radius: 15px;
        padding: 5%;
        margin-top: 20px;
    }
    .img2DivM>img {
        height: 134px;
        width: 360px;
        margin-left: 5px;
        margin-top: 20px;
    }
    .innerDiv2M {
        width: 325px;
        margin-left: 5px;
        height: 120px;
        background-color: #F6F6F6;
        color: #444444;
        border-radius: 15px;
        padding: 5%;
        margin-top: 20px;
    }
    .innerDiv3M {
        width: 325px;
        margin-left: 5px;
        height: 129px;
        background-color: #F6F6F6;
        color: #444444;
        border-radius: 15px;
        padding: 5%;
        margin-top: 20px;
    }
    .consultS2ButtonM {
        margin-top: 20px;
        background-color: #0A6DE0;
        color: white;
        border: none;
        border-radius: 100px;
        padding: 15px;
        width: 365px;
        height: 45px;
        font-size: 17px;
        font-weight: 500;
        margin-left: 5px;
    }
    /*screen 3*/
    .wrapper3Screen {
        display: none !important;
    }
    .wrapper3ScreenM {
        display: block !important;
        margin-top: 150px;
    }
    .textDivScreen3M {
        margin: 0 auto;
        width: 337px;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        color: #444444;
    }
    .cardsWrapperM {
        display: grid;
        grid-template-columns: auto auto;
        height: 660px;
        width: 365px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .cardS3M {
        background: #F6F6F6;
        border-radius: 10px;
        width: 168px;
        height: 210px;
        text-align: left;
    }
    .cardS3M>ul>li {
        color: #444444;
    }
    .cardS3M>ul {
        width: 108px;
        height: 82px;
        margin: 0 auto;
        margin-top: 10px;
    }
    .cardS3M>ul>li::marker {
        color: #444444;
    }
    .cardS3M>h3 {
        color: #444444;
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        width: 119.66px;
        height: 39px;
        margin: 0 auto;
        margin-top: 10px;
        font-family: Instrument Sans;
    }
    .cardS3M>p {
        color: #444444;
        font-size: 13px;
        font-weight: 700;
        width: 130px;
        height: 39px;
        margin: 0 auto;
        margin-top: 10px;
        font-family: Instrument Sans;
        position: static;
        bottom: 0;
    }
    .starM {
        position: absolute;
        color: blue;
    }
    .starM>img {
        height: 25px;
    }
    .starM.top-rightM {
        margin-top: -10px;
        margin-left: 155px;
    }
    /*screen 4*/
    .screenFourWrapper {
        display: none !important;
    }
    .lowerTextScreen4 {
        display: none !important;
    }
    .screenFourWrapperM {
        display: block !important;
        margin-top: 150px;
    }
    .textDivScrren4M>p {
        font-weight: 700;
        font-size: 35px;
        margin-left: 15px;
        color: #444444;
    }
    .swiper-wrapper {
        height: 415px !important;
        width: 100% !important;
    }
    .swiper-container {
        width: 95%;
        margin-left: 2.5%;
        height: 500px;
        margin-top: 5%;
        overflow-x: hidden;
    }
    .swiper-slide {
        display: flex;
        width: 210px !important;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
        transition: opacity 0.2s ease, transform 0.2s ease;
        background-color: #F6F6F6;
        border-radius: 15px;
    }
    .swiper-slide-active {
        opacity: 1;
        transition: height 0.6s ease-in-out;
        transform: scale(1.1);
        position: absolute;
    }
    .scrool1BtnsM {
        position: absolute;
        width: 100px;
        margin-left: 70%;
        margin-top: -50px;
    }
    .lowerTextScreen4M {
        float: right;
        text-align: right;
        margin-top: -70px;
    }
    /*screen five*/
    .fifthScreenWrapper {
        display: none !important;
    }
    .fifthScreenWrapperM {
        display: block !important;
        margin-top: 150px;
    }
    .shareYourExpM {
        width: 345px;
        height: 45px;
        background-color: transparent;
        border: 1px solid #0A6DE0;
        font-size: 16px;
        font-weight: 700;
        color: #0A6DE0;
        border-radius: 100px;
        margin-left: 13px;
    }
    .scrool1BtnssM {
        width: 100px;
        float: right;
        z-index: 9;
    }
    .scrool1BtnssM .btn>img {
        width: 30px;
        user-select: none;
        cursor: pointer;
        margin-left: 5px;
    }
    /*last screen*/
    .lastScreenWrapper {
        display: none !important;
    }
    .lastScreenWrapperM {
        display: block !important;
        margin-top: 150px;
    }
    .main-textM {
        font-weight: 700;
        font-size: 40px;
        color: #444444;
    }
    .subtextM {
        position: absolute;
        margin-top: -45px;
        margin-left: 120px;
        color: #444444;
        font-size: 14px;
    }
    .inputIM {
        border-radius: 50px;
        border: 1px solid #444444;
        width: 278px;
        height: 41px;
        margin-top: 5px;
        padding-left: 10px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .inputIM:hover {
        border: 1px solid #0A6DE0;
    }
    .consultLastScreenBtnM {
        background-color: #0A6DE0;
        color: white;
        border: none;
        border-radius: 100px;
        padding: 15px;
        width: 345px;
        height: 45px;
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    /*footer*/
    .footerDef {
        display: none !important;
    }
    .footerM {
        display: block !important;
        color: #0A6DE0;
        margin-top: 150px;
    }
    .footerListM {
        color: #0A6DE0;
        list-style: none;
    }
    .footerListM>li>a {
        color: #0A6DE0;
    }
    .footerButtonM {
        position: absolute;
        margin-top: -45px;
        margin-left: 210px;
        color: #0A6DE0;
        background-color: transparent;
        border-radius: 100px;
        border: 1px solid #0A6DE0;
        width: 140px;
        height: 32px;
    }
}

.wrapper1ScreenMobile {
    display: none;
}

.wrapperScreen2M {
    display: none;
}

.wrapper3ScreenM {
    display: none;
}

.screenFourWrapperM {
    display: none;
}

.fifthScreenWrapperM {
    display: none;
}

.lastScreenWrapperM {
    display: none;
}

.footerM {
    display: none;
}